.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
}

.app main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 6rem 1rem 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem auto;
  padding: 0.8rem;
  width: fit-content;
  gap: 0.8rem;

  background-color: #eeeeee;
  border-radius: 4px;
}

.inputField {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 2rem;
}

.inputField input {
  width: 30%;
  min-width: 1.2rem;
}

.submitBtn {
  border-style: solid;
  border-radius: 4px;
  padding: 0.2rem;
  margin: .6rem auto;
  background-color: gainsboro;
}

form button:hover {
  cursor: pointer;
  background-color: color-mix(in srgb, gainsboro 35%, gray 75%);
  transform: translate(0%, -1px);
}
