.priceRange {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
}

.priceLabels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

.priceInputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}

.priceInputs input {
  flex-grow: 1;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  max-width: 6rem;
}

.priceInputs input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}
